.wrap-container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66.9px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.wrap-container header .find-store {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 50px;
  cursor: pointer;
}

.wrap-container header .find-store img {
  margin-left: 20px;
}

.wrap-container header .find-store span {
  font-size: 13px;
  line-height: 15.26px;
  font-weight: 500;
  margin-right: 20px;
}

header .right-header {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

header .right-header .icons-header {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

header .right-header .icons-header > * {
  cursor: pointer;
}

header .right-header .icons-header > *:not(:last-child) {
  margin-right: 25px;
}

header .right-header .search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.wrap-container .img-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30.44px;
}

/*  */
.logo-mobile {
  align-items: center;
  cursor: pointer;
  display: none;
}

.logo-mobile > *:not(:last-child) {
  margin-right: 10px;
}

/* Trabalhando na responsividade */
@media (max-width: 600px) {
  .logo-mobile {
    display: flex;
  }

  .wrap-container header .find-store,
  .wrap-container .img-title,
  .wrap-container header .right-header .icons-header > *:not(:last-child),
  .menus-link {
    display: none;
  }
}
