.section5 {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 40px;
}

/* Top Section5 */
.section5 .top-section5 {
  display: flex;
  min-height: 450px;
}

.section5 .top-section5 .left-section5 {
  position: relative;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  color: #fff;
  width: 70%;
}

.section5 .top-section5 .left-section5 img {
  display: flex;
  width: 100%;
}

.section5 .top-section5 .left-section5-description {
  position: absolute;
  left: 0;
  right: 0;
  align-self: center;
  margin: auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section5 .top-section5 .left-section5-description > :nth-child(1) {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 11px;
}

.section5 .top-section5 .left-section5-description > :nth-child(2) {
  font-weight: 700;
  font-size: 96px;
  font-family: 'PlayfairDisplay', sans-serif;
}

/* Right */

.section5 .top-section5 .right-section5 {
  width: 30%;
  position: relative;
  display: flex;
  /* background-color: red; */
}

.right-section5 > img:first-child {
  opacity: 0.4;
  width: 100%;
}

.section5 .top-section5 .right-section5 .btn-explore {
  align-self: center;
  justify-self: center;
  position: relative;
  padding: 2rem;
  right: 100px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section5 .top-section5 > * {
  margin-left: 10px;
}

/* Down Section5 */
.down-section5 {
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.down-section5 .title-down-section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.down-section5 .title-down-section5 > *:first-child {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.down-section5 .title-down-section5 > *:last-child {
  font-size: 80px;
  color: #472138;
  font-weight: 700;
  font-family: 'PlayfairDisplay', sans-serif;
}

.down-section5 .carousel-rings-section5 {
  display: flex;
  width: 100%;
}

.down-section5 .carousel-rings-section5 {
  display: flex;
  width: 100%;
}

.down-section5 .carousel-rings-section5 .carousel-image img {
  width: 100%;
}

.click-carousel-rings {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  left: 20px;
}

.section5 .carousel-images-section5-footer {
  align-self: center;
  padding-bottom: 20px;
}

.section5 .carousel-images-section5-footer span {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
