.section7 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.section7 .first-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section7 .first-element {
  text-align: center;
}

.section7 .first-element span:nth-child(2) {
  font-size: 60px;
  width: 55%;
  color: #d5a368;
  font-family: 'PlayfairDisplay', sans-serif;
}

.section7 .cards-element {
  display: grid;
  grid-template-columns: auto auto auto;
}

.section7 .card-element-items .items-text {
  position: absolute;
  background: #ffffff;
  width: 480px;
  display: grid;
  grid-template-columns: auto;
  margin-left: 40px;
  margin-top: -50px;
  padding: 30px;
}

.section7 .card-element-items .items-text span:nth-child(1) {
  color: #d5a368;
}

.section7 .card-element-items .items-text span:nth-child(2) {
  color: #000000;
  font-size: 30px;
  width: 60%;
  font-weight: bold;
}

.section7 .cards-element img {
  width: 500px;
  height: 620px;
  margin: 10px;
}

.section7 .cards-element :nth-child(2) img {
  margin-top: 100px;
}
